<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En Paramo Bikes creemos en las alternativas, existen mejores formas de transportarse en la ciudad: sin saturar los espacios urbanos de vehículos y de una manera más ágil, saludable y entretenida.">
    <meta name="keywords" content="bicicletas, electricas, movilidad, plegables, repuestos, gravel, sustentable, venta, productos nuevos, momopatines, blog">
    <title>Páramo Bikes - Tienda</title>
<!--    <link rel="stylesheet" href="../assets/css/styles.css">      ---- HEAD. Enlace a styles.css --> 
<!-- LINK A HOJA DE ESTILOS DE SASS - prueba.css-->
    <link rel="stylesheet" href="../sass1/css/prueba.css">    

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,600;1,300&family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>

    <header> <!--ENCABEZADO SOLO CON MENU (falta logo)-->
        
        <div>
            <a href="../index.html"><img src="../assets/images/logo3.png" alt="paramo bicicletas"></a>
        </div>

        <nav>
            <!-- BLOQUE 1 por SASS-->
            <ul class="lista">
                <li class="lista__hijo"><a class="lista__roja--mod1" href="../index.html">INICIO</a></li>
                <li class="lista__roja"><a class="lista__roja--mod1" href="./vehiculos.html">VEHÍCULOS</a></li>
                <li class="lista__roja"><a class="lista__roja--mod1" href="./tienda.html">TIENDA</a></li>
                <li class="lista__roja"><a class="lista__roja--mod1" href="./blog.html">BLOG</a> </li>
                <li class="lista__roja"><a class="lista__roja--mod1" href="./posventa.html">POSVENTA</a></li>
                <li class="lista__roja"><a class="lista__roja--mod1" href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    
    </header>

    <hr style="border:solid .1px rgb(60, 60, 60)">
    
    <h1>Tienda</h1>



    <!-- SECCIÓN 3. Productos destacados -->

<hr style="color: rgb(82, 82, 82);">
<h2 style="display:inline-flexbox;">TIENDA</h2>
<br><br>    

<!-- BLOQUE 2 por SASS-->
<section class="contenedor">

        <!-- 1/4 productos destacados-->
        <div class="contenedor__azul">
            <div class="contenedor__azul--modificador2">
                <div class="margin-b">
                    <img class="bordeProd" style="width: 350px; height: 100%;" src="../assets/images/20200327-120203_1.jpg" class="full" alt="frenos cuero">
                </div>
                <div>
                    <h3 ><a class="prodDest" href="link_boton">VP-712 DETALLE EN CUERO</a></h3>
                    <h3 class="precios">$  2.500,00</h3>
                </div>
                <br>
                <!-- BOTÓN. BLOG-->
                <button><a href="link_boton">COMPRAR</a></button>
            </div>
        </div>

        <!-- 2/4 productos destacados-->
        <div class="contenedor__azul">
            <div class="contenedor__azul--modificador2"> 
                <div class="margin-b">
                    <img class="bordeProd" style="width: 350px; height: 100%;" src="../assets/images/20200509-081804_Mitas-gripper-prod.jpg" class="full" alt="llantas sin tubo">
                </div>
                <div>
                    <h3 ><a class="prodDest" href="link_boton">GRIPPER 700X35</a></h3>
                    <h3 class="precios">$  2.500,00</h3>
                </div>
                <br>
                <!-- BOTÓN. BLOG-->
                <button><a href="link_boton">COMPRAR</a></button>
            </div>
        </div>

        <!-- 3/4 productos destacados-->
        <div class="contenedor__azul">
            <div class="contenedor__azul--modificador2">
                <div class="margin-b">
                    <img class="bordeProd" style="width: 350px; height: 100%;" src="../assets/images/133_455_cual_queres.jpg" class="full" alt="linga kryptoflex">
                </div>
                <div>
                    <h3 ><a class="prodDest" href="link_boton">LINGA KRYPTOFLEX 410</a></h3>
                    <h3 class="precios">$  2.500,00</h3>
                </div>
                <br>
                <!-- BOTÓN. BLOG-->
                <button><a href="link_boton">COMPRAR</a></button>
            </div>
        </div>

        <!-- 4/4 productos destacados-->
        <div class="contenedor__azul">
            <div>
                <div class="margin-b">
                    <img class="bordeProd" style="width: 350px; height: 100%;" src="../assets/images/20210120-044642_1.jpg" class="full" alt="manometro micorbar">
                </div>
                <div>
                    <h3 ><a class="prodDest" href="link_boton">MICORBAR</a></h3>
                    <h3 class="precios">$  2.500,00</h3>
                </div>
                <br>
                <!-- BOTÓN. BLOG-->
                <button><a href="link_boton">COMPRAR</a></button>
            </div>
        </div>


</section>

<br><br><br>



<!-- SECCIÓN 4. PROMOCIONES -->


<section>
    <h2 class="promos__hijo" style="display:inline-flexbox;">PROMOCIONES</h2>
    <br><br> 
    <div>
                <!-- BLOQUE 3 por SASS-->            
                <div class="promos">
                    <a href="ahora12"><img src="../assets/images/ahora1.png" alt=""></a>
                    <br><br>
                    <h4 class="promos__hijo">12 cuotas sin interés</h4>
                </div>
                <div class="promos">
                    <a href="ahora12_2"><img src="../assets/images/ahora2.png" alt=""></a>
                    <br><br>
                    <h4 class="promos__hijo">18 cuotas fijas</h4>
                </div>
                <div class="promos">
                    <a href="itau"><img src="../assets/images/ahora3.png" alt=""></a>
                    <br><br>
                    <h4 class="promos__hijo">3 cuotas sin interés</h4>
                </div>
                <div class="promos">
                    <a href="mlibre"><img src="../assets/images/ahora4.svg" alt=""></a>
                    <br><br>
                    <h4 class="promos__hijo">Promociones vigentes de MP</h4>
                </div>
    </div>

    <!-- BOTÓN. BLOG-->
    <button><a href="./assets/tienda.html">VER PROMOCIONES</a></button>

</section>
<br><br>
<hr><hr>
<!--OPERACIONES NUMERICAS SASS-->
<p class="caja_dos">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse accusantium dolorem ex maiores molestias sequi temporibus nam aliquam maxime, consequuntur provident rem vel doloremque recusandae ipsa quae reiciendis consectetur minima?

</p>

<hr><hr>
<br><br>

<!--CONDICIONAL SASS-->





<br><br>

<!-- FOOTER-------------------------->

<section>
<hr style="color:white;">

<!-- BLOQUE 4 por SASS-->
    <footer class="footer">
        
        <!-- FOOTER. Dejar EMail para recibir newsletter/novedades  -->
            <br>
            <h5>SÉ PARTE DEL MOVIMIENTO</h5>
            <br>
            <h6>Enterate de las últimas novedades!</p>
            <input class="inputEmail" type="text" name="email" placeholder="Email" id="">
            <input class="inputEnviar" type="submit" value="ENVIAR">
            <br><br>
        <!-- FOOTER. Redes sociales  -->
            <h5>SEGUINOS</h5><br>

                <img src="" alt=""> <!--FACEBOOK LOGO-->
                <img src="" alt=""> <!--INSTAGRAM LOGO-->
                <img src="" alt=""> <!--TWITTER LOGO-->
    
        <!-- Copyright  -->
        <h6 class="footer__copyright">Términos y Condiciones / Defensa del Consumidor</h6>    
        <h6 class="footer__copyright">Copyright © 2021 | PÁRAMO BIKES. Todos los derechos reservados</h6>

     
    </footer>
</section>












</body>
</html>